*,
*:hover {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

body {
  background: linear-gradient(220deg, #f0e675, #75f0b3, #759ef0);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  padding: 1rem;
  text-align: center;
  min-width: 400px;
}

.header {
  font-size: 2rem;
  text-align: center;
  padding: 3rem 0;
  text-shadow: 2px 2px 6px #6669;
}

.todos-container {
  margin: 2rem 0;
}

.input-form,
.todo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 0;
  -webkit-box-shadow: 2px 2px 7px 0px #6666;
          box-shadow: 2px 2px 7px 0px #6666;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.input-form:hover,
.todo-item:hover {
  -webkit-box-shadow: 0px 0px 10px 5px #6666;
          box-shadow: 0px 0px 10px 5px #6666;
}

.todo-input,
.todo-value {
  color: #666;
  padding: 5px 10px;
  width: 100%;
}

.todo-input:focus,
.todo-value:focus {
  outline: none;
}

.todo-btn {
  font-size: 1.3rem;
  padding: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: white;
}

.todo-btn:hover {
  cursor: pointer;
}

.todo-btn:focus {
  outline: none;
}

.todo-btn.todo-btn-add {
  color: #a300cc;
}

.todo-btn.todo-btn-add:hover {
  background: #a300cc;
  color: white;
}

.todo-btn.todo-btn-remove {
  color: #cc4b00;
}

.todo-btn.todo-btn-remove:hover {
  background: #cc4b00;
  color: white;
}

.todo-btn.todo-btn-done {
  color: #00b30f;
}

.todo-btn.todo-btn-done:hover {
  background: #00b30f;
  color: white;
}

.fa-check-circle,
.fa-trash-alt {
  pointer-events: none;
}

.completed {
  -webkit-text-decoration: line-through #666;
          text-decoration: line-through #666;
  opacity: 0.7;
}

.fall {
  -webkit-transform: translateY(8rem) rotateZ(20deg);
          transform: translateY(8rem) rotateZ(20deg);
  opacity: 0.2;
}

.filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  margin: 2rem 0;
}

.radiobtn {
  padding: 1rem;
}

.radiobtn label {
  border-radius: 5px;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 2px 2px 10px 1px #6666;
          box-shadow: 2px 2px 10px 1px #6666;
}

.radiobtn label:hover {
  -webkit-box-shadow: 0px 0px 10px 5px #6666;
          box-shadow: 0px 0px 10px 5px #6666;
}

.radiobtn input[type="radio"] {
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.radiobtn input[type="radio"]:checked + label {
  background: rgba(163, 0, 204, 0.5);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-color: #a300cc;
}
