*,
*:hover {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	// outline: none;
}

body {
	background: linear-gradient(220deg, hsl(55, 80%, 70%), hsl(150, 80%, 70%), hsl(220, 80%, 70%));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	font-family: "Montserrat", sans-serif;
	min-height: 100vh;
	color: white;
	display: flex;
	justify-content: center;
	font-size: 1rem;
}

.container {
	padding: 1rem;
	text-align: center;
}

.header {
	font-size: 1.8rem;
	text-align: center;
	padding: 25px 0;
	text-shadow: 2px 2px 6px #6669;
}

.input-form,
.todo-item {
	margin: 10px 0;
	box-shadow: 2px 2px 7px 0px #6666;

	&:hover {
		box-shadow: 0px 0px 10px 5px #6666;
	}
}

.input-form {
	margin-bottom: 3rem;
	display: inline-flex;
}

.todo-item {
	display: flex;
}

.todo-input,
.todo-value {
	padding: 5px 10px;
	min-width: 200px;
	&:focus {
		outline: none;
	}
}

.todo-btn {
	font-size: 1.3rem;
	padding: 3px;
	transition: all 0.3s;
	background: white;
	&:hover {
		cursor: pointer;
	}
	&:focus {
		outline: none;
	}

	&.todo-btn-add {
		color: hsl(288, 100%, 40%);

		&:hover {
			background: hsl(288, 100%, 40%);
			color: white;
		}
	}
	&.todo-btn-remove {
		color: hsl(22, 100%, 40%);
		&:hover {
			background: hsl(22, 100%, 40%);
			color: white;
		}
	}
	&.todo-btn-done {
		color: hsl(125, 100%, 35%);
		&:hover {
			background: hsl(125, 100%, 35%);
			color: white;
		}
	}
}

.fa-check-circle,
.fa-trash-alt {
	pointer-events: none;
}
