*,
*:hover {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

body {
  background: linear-gradient(220deg, #f0e675, #75f0b3, #759ef0);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  padding: 1rem;
  text-align: center;
}

.header {
  font-size: 2rem;
  text-align: center;
  padding: 25px 0;
  text-shadow: 2px 2px 6px #6669;
}

.input-form,
.todo-item {
  margin: 1rem 0;
  -webkit-box-shadow: 2px 2px 7px 0px #6666;
          box-shadow: 2px 2px 7px 0px #6666;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.input-form:hover,
.todo-item:hover {
  -webkit-box-shadow: 0px 0px 10px 5px #6666;
          box-shadow: 0px 0px 10px 5px #6666;
}

.input-form {
  margin-bottom: 3rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.todo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo-input,
.todo-value {
  color: #666;
  padding: 5px 10px;
  min-width: 200px;
}

.todo-input:focus,
.todo-value:focus {
  outline: none;
}

.todo-btn {
  font-size: 1.3rem;
  padding: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: white;
}

.todo-btn:hover {
  cursor: pointer;
}

.todo-btn:focus {
  outline: none;
}

.todo-btn.todo-btn-add {
  color: #a300cc;
}

.todo-btn.todo-btn-add:hover {
  background: #a300cc;
  color: white;
}

.todo-btn.todo-btn-remove {
  color: #cc4b00;
}

.todo-btn.todo-btn-remove:hover {
  background: #cc4b00;
  color: white;
}

.todo-btn.todo-btn-done {
  color: #00b30f;
}

.todo-btn.todo-btn-done:hover {
  background: #00b30f;
  color: white;
}

.fa-check-circle,
.fa-trash-alt {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  -webkit-transform: translateY(8rem) rotateZ(20deg);
          transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.filter {
  max-width: 250px;
  position: relative;
  margin: 50px auto 0;
  font-size: 15px;
}

.radiobtn {
  position: relative;
}

.radiobtn label {
  display: block;
  color: #444;
  border-radius: 5px;
  padding: 10px 20px;
  border: 2px solid #91fafd;
  margin-bottom: 5px;
  cursor: pointer;
}

.radiobtn label:after, .radiobtn label:before {
  content: "";
  position: absolute;
  right: 11px;
  top: 11px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #77f9fd;
}

.radiobtn label:before {
  background: transparent;
  -webkit-transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
  transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
  z-index: 2;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center;
  width: 0;
  height: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
}

.radiobtn input[type="radio"] {
  display: none;
  position: absolute;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.radiobtn input[type="radio"]:checked + label {
  background: #77f9fd;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  border-color: #2cf5fc;
}

.radiobtn input[type="radio"]:checked + label:after {
  background: #2cf5fc;
}

.radiobtn input[type="radio"]:checked + label:before {
  width: 20px;
  height: 20px;
}
